@model int
@{
}


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="https://img.freepik.com/premium-vector/3d-check-mark-icon-isolated-white-background-check-list-button-best-choice-right-success-tick-accept-agree-application-choose-icon-vector-with-shadow-3d-rendering-illustration_412828-1373.jpg?w=1380" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />

    </div>
</div> 